In [3]:
#el archivo elegido es : https://www.kaggle.com/datasets/ahmettalhabektas/argentina-car-prices?resource=download

import pandas as pd

df = pd.read_csv("C:/Users/Lautaro/Downloads/archive/argentina_cars.csv", sep = ",")

In [4]:
df.head()

,money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
0,10350000,Toyota,Corolla Cross,2022,Plateado,Nafta,5.0,Automática,NaN,SUV,500,pesos
1,10850000,Jeep,Compass,2022,Blanco,Nafta,5.0,Automática,2.4,SUV,500,pesos
2,35500,Jeep,Compass,2022,Gris oscuro,Nafta,5.0,Automática,2.4,SUV,500,dólares
3,19000,Citroën,C4 Cactus,2022,Gris oscuro,Nafta,5.0,Automática,NaN,SUV,550,dólares
4,5800000,Toyota,Corolla,2019,Gris,Nafta,4.0,Manual,1.8,Sedán,9000,pesos

In [5]:
df.tail()

,money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
505,5250000,Chevrolet,Tracker,2018,Gris,Nafta,5.0,Automática,1.8,SUV,52000,pesos
506,46000,Volkswagen,Amarok,2019,Gris,Diésel,4.0,Automática,3.0,Pick-Up,49000,dólares
507,3960000,Peugeot,2008,2017,Blanco,Nafta,5.0,Manual,1.6,SUV,75358,pesos
508,44900,Volkswagen,Amarok,2019,Gris,Diésel,4.0,Automática,3.0,Pick-Up,57500,dólares
509,2890000,Toyota,Etios,2015,Gris,Nafta,5.0,Manual,1.5,Hatchback,84000,pesos

In [7]:
print(df.shape)

(510, 12)

In [8]:
df.count()

money         510
brand         510
model         510
year          510
color         499
fuel_type     510
door          510
gear          509
motor         499
body_type     509
kilometres    510
currency      510
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   money       510 non-null    int64
 1   brand       510 non-null    object
 2   model       510 non-null    object
 3   year        510 non-null    int64
 4   color       499 non-null    object
 5   fuel_type   510 non-null    object
 6   door        510 non-null    float64
 7   gear        509 non-null    object
 8   motor       499 non-null    object
 9   body_type   509 non-null    object
 10  kilometres  510 non-null    int64
 11  currency    510 non-null    object
dtypes: float64(1), int64(3), object(8)
memory usage: 47.9+ KB

In [10]:
df.dtypes

money           int64
brand          object
model          object
year            int64
color          object
fuel_type      object
door          float64
gear           object
motor          object
body_type      object
kilometres      int64
currency       object
dtype: object

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
print(df.columns)

Index(['money', 'brand', 'model', 'year', 'color', 'fuel_type', 'door', 'gear',
       'motor', 'body_type', 'kilometres', 'currency'],
      dtype='object')

In [16]:
#listado de los 10 autos mas caros
df.sort_values(by="money", ascending=False).head(10)

,money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
368,14299000,Volkswagen,Amarok,2022,Blanco,Diésel,4.0,Automática,3.0,Pick-Up,500,pesos
275,13949900,Chevrolet,Trailblazer,2021,Gris,Diésel,5.0,Automática,2.8,SUV,23000,pesos
269,12490000,Toyota,Corolla Cross,2022,Negro,Híbrido/Nafta,5.0,Automática,1.8,SUV,2000,pesos
279,12489000,Toyota,Hilux,2019,Blanco,Diésel,4.0,Automática,2.8,Pick-Up,64000,pesos
121,12400000,Toyota,Hilux,2019,Gris,Diésel,4.0,Automática,2.8,Pick-Up,52000,pesos
436,11989900,RAM,1500,2017,Gris,Nafta,4.0,Automática,5.7,Pick-Up,79100,pesos
300,11900000,Toyota,Hilux,2019,Gris,Diésel,4.0,Automática,2.8,Pick-Up,51600,pesos
88,11900000,Toyota,Hilux,2019,Gris,Diésel,4.0,Automática,2.8,Pick-Up,51700,pesos
350,11890000,Volkswagen,Taos,2022,Gris,Nafta,5.0,Automática,1.4,SUV,1011,pesos
312,11850000,Ford,Ranger,2021,Gris,Diésel,4.0,Automática,3.2,Pick-Up,61000,pesos

In [23]:
#listado de los 10 autos mas baratos 
valores = df.sort_values(by="money", ascending=True)
valores[valores['currency']=='pesos'].head(10)

,money,brand,model,year,color,fuel_type,door,gear,motor,body_type,kilometres,currency
421,1200000,Chevrolet,Corsa,2008,Plateado,Nafta,3.0,Manual,1.6,Hatchback,150000,pesos
108,1550000,Volkswagen,Gol,2012,Negro,Nafta,5.0,Manual,1.4,Hatchback,102000,pesos
109,1595000,Renault,Clio,2014,Blanco,Nafta,3.0,Manual,1.2,Hatchback,85000,pesos
100,1610000,Renault,Sandero,2013,Negro,Nafta,5.0,Manual,1.6,Hatchback,83000,pesos
104,1650000,Volkswagen,Up!,2018,Blanco,Nafta,5.0,Manual,1.0,Hatchback,79000,pesos
143,1650000,Chevrolet,Aveo,2011,Blanco,Nafta,4.0,Manual,1.6,Sedán,153000,pesos
295,1690000,Chevrolet,Celta,2013,NaN,Nafta,3.0,Manual,1.4,Hatchback,109000,pesos
443,1698000,Ford,Ka,2011,NaN,Nafta,3.0,Manual,1.6,Hatchback,97000,pesos
58,1700000,Citroën,C3,2010,Azul,Nafta,5.0,Manual,1.6,Hatchback,141000,pesos
207,1750000,Volkswagen,Gol Trend,2009,Plateado,Nafta,5.0,Manual,1.6,Hatchback,119000,pesos